@import 'react-toastify/dist/ReactToastify.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-base text-text font-display;
    font-family: "Playfair Display";
    margin-top: 2rem;
}

.heading {
    font-family: "Playfair Display";
}

.subheading {
    font-family: "Lato";
}

.subheading {
    font-family: "Lora";
}